h1 {
    width:100%;
    text-align: center;
    font-family: 'League Spartan', 'Arial';
}

table {
    table-layout: fixed;
}

td {
    border:1px solid #000;
    height:30px;
    width:30px;
    padding: 0px;
    margin:0px;
}

.btn-circle {
    width:40px;
    height:40px;
    border-radius:100%;
    background-color: black;
    font-family: 'Material Icons';
    line-height: 40px;
    text-align:center;
    color:white;
    cursor: pointer;
}

#toolbar {
    position: absolute;
}

#toolbar .tool {
    float:left;
    height:40px;
    margin-right:10px;
}

#toolbar .tool .pickr, #toolbar .tool .pickr button {
    width:40px;
    height:100%;
    border-radius:40px;
}

#matrix {
    text-align: center;
}